* {
	margin: 0;
	padding: 0;
}

.App {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.Mobile {
	max-width: max-content;
	.Inputs {
		.Dropdown {
			select {
				width: 100%;
			}
		}
		.Fields {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			input {
				width: 100%;
			}
		}
		.Buttons {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			input {
			}
		}
	}
}

.Desktop {
	max-width: max-content;
	.Grid {
		margin: 1rem;
		.Header {
			input {
				text-align: center;
			}
		}
		#ordernr {
			width: 80px;
		}
		#amount {
			width: 80px;
		}
	}
}
